body {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    background-image: url(photos/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg);
    background-size: cover;
  }
  
  
  .nav-link,
  .navbar-brand {
    
    color:silver;
    cursor: pointer;
   
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color:blue;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  .header {
   
    background-size: cover;
    background-size: center;
    position: relative;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }
    
  .description {
    left: 50%;
    position: static;;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  .description h1 {
    color: #6ab446;
  }
  
  .description p {
    color:silver;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .bodi{
    color:silver;
    padding: 50px;
    font-family: 'Galada';
  } 
  .body-name{
    font-size:30px;
    font-family: 'Lobster', cursive;
    color:silver;
  } 
  .div{
    
    font-family: 'Lobster', cursive;
  }
  .full{
    color:silver;
    margin: 30px;
    text-align: center;
    font-size: 40px;
    fo
  
  }
  .stack {
    font-size: 20px;
    margin: 15px;
    font-family: 'Kaushan Script', cursive;
    
  }
  .vin{
    
    align-content: center;
    height:13rem;
    margin-top: 50px;
    padding-left: 40rem;
    color: white;
    

  }
  .button{
    color:black;
    border: double;
    font-size: 15px;
    background-color: lightgray;

  }
.fa{
  padding: 20px;
  font-size: 30px;
  color: white
  align-content: center;


} 
.me{
  align-items: center;
  color: white;
}
